上堂課的 notebook

https://github.com/vcdemy/20230613/blob/main/20230613%E7%AD%86%E8%A8%98.ipynb

# 作業

## a038. 數字翻轉
https://zerojudge.tw/ShowProblem?problemid=a038

### 提示一 reverse
字串沒有 reverse, list 有

In [4]:
data = input()

 5050

In [7]:
data.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [14]:
nums = list(data)
nums

['5', '0', '5', '0']

In [15]:
nums.reverse()
nums

['0', '5', '0', '5']

In [18]:
nums2 = ['0', 1]
nums2

['0', 1]

In [21]:
nums2.reverse()

In [22]:
nums2

[1, '0']

### 提示二 - 使用 join

In [24]:
''.join(['0', '5', '0', '5'])

'0505'

### 提示三

In [25]:
int('0505')

505

### 問題一:
ValueError invalid literal for int with base 10: ''

In [28]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [29]:
int('1')

1

#### 原因, 在程式執行的某個時間點呼叫了 int('')

## k860. 重複數字
https://zerojudge.tw/ShowProblem?problemid=k860

### 提示 :把數字從左到右提出來, 跟右邊比對
可以使用 "in" operator (in 運算子, a in b 的寫法)

#### a in b 的語法: "in" operator
意思是從 b 裡尋找 a, 存在的話就回傳 True, 不存在就回傳 False

使用條件是 b 是容器

In [34]:
arr = [5, 3, 4, 3]

In [44]:
arr[1:]

[3, 4, 3]

In [45]:
arr[0]

5

In [35]:
arr[0] in arr[1:]

False

In [46]:
5 in [3, 4, 3]

False

In [40]:
arr[1] in arr[2:]

True

In [41]:
arr[1]

3

In [65]:
### in operator

In [42]:
1 in [1, 2, 3]

True

In [43]:
5 in [1, 2, 3]

False

## k861. 驗證費氏數列
https://zerojudge.tw/ShowProblem?problemid=k861

### 前二項
0 1

In [47]:
### 第三項開始

0 1 (0+1) = 0 1 1

0 1 1 (1+1) = 0 1 1 2

0 1 1 2 3 5

In [55]:
n = 10
nums = [0, 1]
for i in range(2, n):
    nums.append(nums[-2] + nums[-1])
nums

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 提示2

In [60]:
a = [0, 1, 1, 2, 3, 4]
a

[0, 1, 1, 2, 3, 4]

In [62]:
a[2] == a[0] +a[1]

True

In [63]:
a[3] == a[2] +a[1]

True

In [64]:
a[5] == a[4] + a[3]

False

# 上次作業

## a244. 新手訓練 ~ for + i
https://zerojudge.tw/ShowProblem?problemid=a244

## k774. 高精度除法
https://zerojudge.tw/ShowProblem?problemid=k774

In [70]:
value = 4/3
f'{value:.050}'

'1.3333333333333332593184650249895639717578887939453'

In [73]:
5 // 3

1

In [74]:
2 % 3

2

In [81]:
2 * (10 ** 100) // 3

6666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666

In [82]:
2**64-1

18446744073709551615

## h081. 程式交易
https://zerojudge.tw/ShowProblem?problemid=h081

# 其它

## container - 容器

| container | 容器形別 | mutable| indexing | ordered |
| --- | --- | --- | --- | --- |
| \[1, 2, 3] | list | yes | 數字 | yes |
| {1, 2, 3} | set | yes | NO | no |
| (1, 2, 3) | tuple | no | 數字 | yes |
| {'a': 1} | dict | yes | 數字&字串 | no |

## Mutability

In [85]:
l = [1, 2, 3]
s = {1, 2, 3}
t = (1, 2, 3)
d = {'a':1}

In [86]:
l

[1, 2, 3]

In [88]:
l[0] = 9
l

[9, 2, 3]

In [90]:
s.add(9)

In [91]:
s

{1, 2, 3, 9}

In [92]:
t[0] = 9

TypeError: 'tuple' object does not support item assignment

In [94]:
d['abc'] = 9
d

{'a': 1, 'abc': 9}

## container 的 indexing

### list 的 indexing

In [96]:
l = [1, 2, 3]
l[0]

1

In [102]:
l[1]

2

### dict 的 indexing

In [103]:
d= {0: 1, 1: 2, 'a': 3}
d[0]

1

In [101]:
d[1]

2

In [104]:
d['a']

3

In [105]:
d

{0: 1, 1: 2, 'a': 3}

### tuple 的 indexing

跟 list 一樣

In [107]:
l = [1, 2, 3]
t = (1, 2, 3)

In [110]:
l.reverse()
l

[3, 2, 1]

In [111]:
t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

### set 的 indexing

In [113]:
s = {1, 2, 3}
s[0]

TypeError: 'set' object is not subscriptable

In [116]:
s = {3, 2, 1}
for value in s:
    print(value)

1
2
3

In [117]:
s.add(1.5)

s

In [120]:
{'台中市': 123, '高雄市': 456}

{'台中市': 123, '高雄市': 456}

In [121]:
[1, 2, 3] == [1, 2, 3]

True

In [122]:
[3, 2, 1] == [1, 2, 3]

False

In [123]:
{1, 2, 3} == {3, 2, 1}

True

## container 的內容有無順序

## 重複數字 container 解法

In [146]:
a = [1, 3, 5, 7, 5]

In [147]:
d = {1:0, 3:0, 5:0, 7:0}

In [148]:
d

{1: 0, 3: 0, 5: 0, 7: 0}

In [149]:
for num in a:
    d[num] = d[num] + 1
d

{1: 1, 3: 1, 5: 2, 7: 1}

In [158]:
#### SEt 解法

In [156]:
s = set()
for num in a:
    if num in s:
        print(num)
    s.add(num)
s

5

{1, 3, 5, 7}

In [ ]:
#### list 解法

In [157]:
s = list()
for num in a:
    if num in s:
        print(num)
    s.append(num)
s

5

[1, 3, 5, 7, 5]

練習:
https://zerojudge.tw/ShowProblem?problemid=a104

## List destructuring, 解構
上次課堂有出現這個
```python
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2  random_state=0)
```

### 變數的 assignment 作法 1

In [6]:
arr = [99, 11, 8]
a = arr[0]
b = arr[1]
c = arr[2]
print(a)
print(b)
print(c)

99
11
8

### 變數的 assignment 作法 2

In [160]:
a, b, c = [99, 11, 8]
print(a)
print(b)
print(c)

99
11
8

### 變數 swap 作法 1

In [172]:
a = 1
b = 2

如何讓 ａ ｂ 的值交換

In [173]:
_t = b
b = a
a = _t

In [174]:
print(a)
print(b)

2
1

### 變數 swap 作法 2

In [178]:
a = 1
b = 2

In [180]:
a, b = b, a
print(a)
print(b)

1
2

### 費氏數列 - 使用 list destructuring

In [185]:
n = 10
nums = [0, 1]
pre_pre, pre = nums
for _ in range(2, n):
    value = pre_pre + pre
    nums.append(value)
    pre_pre, pre = pre, value
nums

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## range

### range vs list

In [188]:
a, b = range(2)

In [187]:
print(a, b)

0 1

In [189]:
a, b = [1, 2, 3]

ValueError: too many values to unpack (expected 2)

In [190]:
a, b, c = [1, 2]

ValueError: not enough values to unpack (expected 3, got 2)

In [191]:
a, b = {2, 1}

In [193]:
print(a)
print(b)

1
2

In [194]:
a + b

3

In [195]:
a / b

0.5

In [196]:
import numpy as np

In [197]:
a, b = np.array([2, 1])

In [198]:
print(a)
print(b)

2
1

In [199]:
2 in np.array([2, 1])

True

In [200]:
3 in np.array([2, 1])

False

In [202]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [204]:
list(range(1, 10, 3))

[1, 4, 7]

## sort

In [206]:
a = [1, 2, 8, 5, 3, 0, 2]

In [207]:
a.sort()

In [208]:
a

[0, 1, 2, 2, 3, 5, 8]

In [209]:
na = np.array(a)

In [210]:
na

array([0, 1, 2, 2, 3, 5, 8])

In [211]:
na.sort()

In [212]:
na

array([0, 1, 2, 2, 3, 5, 8])

In [213]:
set(a)

{0, 1, 2, 3, 5, 8}

In [215]:
s = set('This is a list of words')
s

{' ', 'T', 'a', 'd', 'f', 'h', 'i', 'l', 'o', 'r', 's', 't', 'w'}

In [216]:
len(s)

13

In [218]:
article = """
At least 79 people have died and more than 100 have been rescued after their fishing boat sank off southern Greece.

But survivors have suggested as many as 750 people may have been packed on to the boat, with reports of 100 children in the hold.

Greece says it is one of its biggest ever migrant tragedies, and has declared three days of mourning.

Authorities say their offers of aid were refused but they are facing claims of not doing enough to help.

The boat went down about 80 km (50 miles) south-west of Pylos after 02:04 on Wednesday morning local time, according to the Greek coastguard.

The EU's border agency Frontex said it had spotted the boat early on Tuesday afternoon and immediately told Greek and Italian authorities. The coastguard said later that no-one on board was wearing life jackets.

In a timeline provided by the coastguard, it said that initial contact was made with the fishing boat at 14:00 (11:00 GMT) and no request for help had been made.

It said the Greek shipping ministry had made repeated contact with the boat and was told repeatedly it simply wanted to sail on to Italy. A Maltese-flagged ship provided food and water at around 18:00, and another boat provided water three hours after that, it added.

Then at around 01:40 on Wednesday someone on the boat is said to have notified the Greek coastguard that the vessel's engine had malfunctioned.

Shortly afterwards, the boat capsized, taking only ten to fifteen minutes to sink completely. A search and rescue operation was triggered but complicated by strong winds.


"""

In [230]:
words1 = set(article.split())
words

{'(11:00',
 '(50',
 '01:40',
 '02:04',
 '100',
 '14:00',
 '18:00,',
 '750',
 '79',
 '80',
 'A',
 'At',
 'Authorities',
 'But',
 "EU's",
 'Frontex',
 'GMT)',
 'Greece',
 'Greece.',
 'Greek',
 'In',
 'It',
 'Italian',
 'Italy.',
 'Maltese-flagged',
 'Pylos',
 'Shortly',
 'The',
 'Then',
 'Tuesday',
 'Wednesday',
 'a',
 'about',
 'according',
 'added.',
 'after',
 'afternoon',
 'afterwards,',
 'agency',
 'aid',
 'and',
 'another',
 'are',
 'around',
 'as',
 'at',
 'authorities.',
 'been',
 'biggest',
 'board',
 'boat',
 'boat,',
 'border',
 'but',
 'by',
 'capsized,',
 'children',
 'claims',
 'coastguard',
 'coastguard,',
 'coastguard.',
 'completely.',
 'complicated',
 'contact',
 'days',
 'declared',
 'died',
 'doing',
 'down',
 'early',
 'engine',
 'enough',
 'ever',
 'facing',
 'fifteen',
 'fishing',
 'food',
 'for',
 'had',
 'has',
 'have',
 'help',
 'help.',
 'hold.',
 'hours',
 'immediately',
 'in',
 'initial',
 'is',
 'it',
 'its',
 'jackets.',
 'km',
 'later',
 'least',
 'life',
 'local',
 'made',
 'made.',
 'malfunctioned.',
 'many',
 'may',
 'migrant',
 'miles)',
 'ministry',
 'minutes',
 'more',
 'morning',
 'mourning.',
 'no',
 'no-one',
 'not',
 'notified',
 'of',
 'off',
 'offers',
 'on',
 'one',
 'only',
 'operation',
 'packed',
 'people',
 'provided',
 'refused',
 'repeated',
 'repeatedly',
 'reports',
 'request',
 'rescue',
 'rescued',
 'said',
 'sail',
 'sank',
 'say',
 'says',
 'search',
 'ship',
 'shipping',
 'simply',
 'sink',
 'someone',
 'south-west',
 'southern',
 'spotted',
 'strong',
 'suggested',
 'survivors',
 'taking',
 'ten',
 'than',
 'that',
 'that,',
 'the',
 'their',
 'they',
 'three',
 'time,',
 'timeline',
 'to',
 'told',
 'tragedies,',
 'triggered',
 "vessel's",
 'wanted',
 'was',
 'water',
 'wearing',
 'went',
 'were',
 'winds.',
 'with'}

In [223]:
len(words)

171

In [224]:
article2 = """
Alarm Phone, an emergency helpline for migrants in trouble at sea, complained that the coastguard was "aware of the ship being in distress for hours before any help was sent", adding that authorities "had been informed by different sources" that the boat was in trouble.

It added that people may have been scared to encounter Greek authorities because they were aware of the country's "horrible and systematic pushback practices".

Jérôme Tubiana of Médecins Sans Frontières told French radio that European and Greek authorities should both have intervened earlier. "It's really shocking to hear that Frontex flew over the boat and no-one intervened because the boat refused all offers of help... an overloaded boat is a boat in distress."

The boat is thought to have been going from Libya to Italy, with most of those on board believed to be men in their 20s.

They had been travelling for days, according to local media reports, which added that the boat had been approached by a Maltese cargo ship on Tuesday afternoon that supplied food and water.

Survivors spoke of as many as 500 to 750 people on board and regional health director Yiannis Karvelis warned of an unprecedented tragedy: "The number of the people on board was much higher than the capacity that should be allowed for this boat."

One survivor told a hospital doctor in Kalamata that he had seen 100 children in the hold.

Coastguard Cpt Nikolaos Alexiou told public TV that the boat had sunk in one of the deepest parts of the Mediterranean.


"""

In [231]:
words2 = set(article2.split())

In [232]:
words1 & words2

{'100',
 '750',
 'Frontex',
 'Greek',
 'It',
 'The',
 'Tuesday',
 'a',
 'according',
 'afternoon',
 'and',
 'as',
 'at',
 'been',
 'board',
 'boat',
 'by',
 'children',
 'coastguard',
 'food',
 'for',
 'had',
 'have',
 'help',
 'hold.',
 'hours',
 'in',
 'is',
 'local',
 'many',
 'may',
 'no-one',
 'of',
 'offers',
 'on',
 'one',
 'people',
 'refused',
 'ship',
 'than',
 'that',
 'the',
 'their',
 'they',
 'to',
 'told',
 'was',
 'were',
 'with'}

In [229]:
s

{' ', 'T', 'a', 'd', 'f', 'h', 'i', 'l', 'o', 'r', 's', 't', 'w'}